In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
data1 = pd.read_csv('https://raw.githubusercontent.com/kpratik2015/Future-Datathon-c-dlabs/master/cproducts.csv')
data2 = pd.read_csv('https://raw.githubusercontent.com/kpratik2015/Future-Datathon-c-dlabs/master/ctender.csv')

In [10]:
data1.head()

    customerID         DOB  ... sale_price_after_promo discountUsed
0   BBID_20482  1975-10-20  ...                  55.00      Payback
1   BBID_20485  1955-07-21  ...                  30.00      Payback
2   BBID_20498  1981-03-19  ...                 418.95      Payback
3   BBID_20499  1986-05-10  ...                  70.00      Payback
4  BBID_204110  1988-02-29  ...                  34.20      Payback

[5 rows x 16 columns]

In [12]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11972 entries, 0 to 11971
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customerID                  11972 non-null  object
 1   DOB                         11653 non-null  object
 2   Gender                      10944 non-null  object
 3   State                       10389 non-null  object
 4   PinCode                     11155 non-null  float64
 5   transactionDate             11972 non-null  object
 6   store_code                  11972 non-null  int64
 7   store_description           11972 non-null  object
 8   till_no                     11972 non-null  int64
 9   transaction_number_by_till  11972 non-null  int64
 10  promo_code                  11972 non-null  object
 11  promotion_description       3462 non-null   object
 12  product_code                11972 non-null  int64
 13  product_description         11972 non-null  object
 14  sale_price_after_promo      11972 non-null  float64
 15  discountUsed                11972 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 1.5+ MB

In [13]:
data1.describe()

             PinCode    store_code  ...  product_code  sale_price_after_promo
count   11155.000000  11972.000000  ...  1.197200e+04            11972.000000
mean   550975.894666   3954.204895  ...  9.203021e+10              147.014886
std    214810.201978   1037.944359  ...  5.353262e+11              303.717711
min     14301.000000   2615.000000  ...  1.001030e+08             -599.000000
25%    452001.000000   2655.000000  ...  1.080376e+08               30.000000
50%    580024.000000   4796.000000  ...  3.006113e+08               71.250000
75%    625018.000000   4843.000000  ...  1.000118e+09              156.000000
max    999999.000000   4986.000000  ...  5.001112e+13             8576.500000

[8 rows x 6 columns]

In [14]:
data2.describe()

             PinCode  ...  payment_amount_by_tender
count  144188.000000  ...             149752.000000
mean   548303.118158  ...               1515.504483
std    200022.478975  ...               2032.301453
min     14301.000000  ...             -28990.000000
25%    452001.000000  ...                299.000000
50%    580028.000000  ...                835.815000
75%    625016.000000  ...               2004.000000
max    999999.000000  ...              65635.400000

[8 rows x 5 columns]