<a href="https://colab.research.google.com/github/shresth26/S-MART/blob/main/Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import LabelEncoder, RobustScaler
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from pandas_datareader import data, wb
import datetime
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
init_notebook_mode(connected=True)
cf.go_offline()

## Loading Data

In [2]:
tender = pd.read_csv('tender.csv')
products = pd.read_csv('products.csv')

In [3]:
products.head()

    customerID         DOB  ... sale_price_after_promo discountUsed
0   BBID_20482  1975-10-20  ...                  55.00      Payback
1   BBID_20485  1955-07-21  ...                  30.00      Payback
2   BBID_20498  1981-03-19  ...                 418.95      Payback
3   BBID_20499  1986-05-10  ...                  70.00      Payback
4  BBID_204110  1988-02-29  ...                  34.20      Payback

[5 rows x 16 columns]

In [4]:
tender.head()

  customerID         DOB  ... payment_amount_by_tender           PaymentUsed
0  BBID_2044  1984-04-02  ...                  1000.00           GiftVoucher
1  BBID_2044  1984-04-02  ...                    10.46                  CASH
2  BBID_2044  1984-04-02  ...                   677.28                  AXIS
3  BBID_2044  1984-04-02  ...                  1042.00  One MobiKwik Systems
4  BBID_2044  1984-04-02  ...                  1000.00  One MobiKwik Systems

[5 rows x 13 columns]

### Handling Missing values

In [5]:
products['promotion_description'].fillna('no_promo', inplace=True)
products['Gender'].fillna('no_gender', inplace=True)
products['State'].fillna('no_state', inplace=True)
products['PinCode'].fillna(-1, inplace=True)
products['DOB'].fillna("1", inplace=True)