<a href="https://colab.research.google.com/github/shresth26/S-MART/blob/main/Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import LabelEncoder, RobustScaler
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from pandas_datareader import data, wb
import datetime
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
init_notebook_mode(connected=True)
cf.go_offline()

## Loading Data

In [2]:
tender = pd.read_csv('tender.csv')
products = pd.read_csv('products.csv')

In [3]:
products.head()

    customerID         DOB  ... sale_price_after_promo discountUsed
0   BBID_20482  1975-10-20  ...                  55.00      Payback
1   BBID_20485  1955-07-21  ...                  30.00      Payback
2   BBID_20498  1981-03-19  ...                 418.95      Payback
3   BBID_20499  1986-05-10  ...                  70.00      Payback
4  BBID_204110  1988-02-29  ...                  34.20      Payback

[5 rows x 16 columns]

In [4]:
tender.head()

  customerID         DOB  ... payment_amount_by_tender           PaymentUsed
0  BBID_2044  1984-04-02  ...                  1000.00           GiftVoucher
1  BBID_2044  1984-04-02  ...                    10.46                  CASH
2  BBID_2044  1984-04-02  ...                   677.28                  AXIS
3  BBID_2044  1984-04-02  ...                  1042.00  One MobiKwik Systems
4  BBID_2044  1984-04-02  ...                  1000.00  One MobiKwik Systems

[5 rows x 13 columns]

### Handling Missing values

In [5]:
products['promotion_description'].fillna('no_promo', inplace=True)
products['Gender'].fillna('no_gender', inplace=True)
products['State'].fillna('no_state', inplace=True)
products['PinCode'].fillna(-1, inplace=True)
products['DOB'].fillna("1", inplace=True)

### Converting data into numeric / float

In [6]:
for c in products.columns:
    lbl = LabelEncoder()
    if products[c].dtype == 'object' and c not in ['store_description','customerID','transactionDate']:
        products[c] = lbl.fit_transform(products[c])

In [7]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11972 entries, 0 to 11971
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customerID                  11972 non-null  object
 1   DOB                         11972 non-null  int64
 2   Gender                      11972 non-null  int64
 3   State                       11972 non-null  int64
 4   PinCode                     11972 non-null  float64
 5   transactionDate             11972 non-null  object
 6   store_code                  11972 non-null  int64
 7   store_description           11972 non-null  object
 8   till_no                     11972 non-null  int64
 9   transaction_number_by_till  11972 non-null  int64
 10  promo_code                  11972 non-null  int64
 11  promotion_description       11972 non-null  int64
 12  product_code                11972 non-null  int64
 13  product_description         11972 non-null  int64
 14  sale_price_after_promo      11972 non-null  float64
 15  discountUsed                11972 non-null  int64
dtypes: float64(2), int64(11), object(3)
memory usage: 1.5+ MB

In [8]:
products.head(2)

   customerID   DOB  ...  sale_price_after_promo  discountUsed
0  BBID_20482  3108  ...                    55.0            24
1  BBID_20485   594  ...                    30.0            24

[2 rows x 16 columns]

In [9]:
by_store_desc = products.groupby("store_description")
by_store_desc.mean()

                                        DOB  ...  discountUsed
store_description                            ...
BB-AMRITSAR-TRILIUM MALL        3285.408022  ...      8.290456
BB-HUBLI-GOKUL ROAD-AKSHAY CEN  2943.606575  ...     22.810332
BB-INDORE-MALHAR MEGA MALL      3967.847488  ...     18.117456
BB-INDORE-TREASURE ISLAND       4150.093079  ...     20.318218
BB-JAMSHEDPUR-NH-33             3477.519906  ...     23.189227
BB-LUDHIANA-FEROZEPUR-MF        3770.128920  ...     12.562718
BB-MADURAI-KOCHADAI VILLAGE     3326.441648  ...     22.613272

[7 rows x 13 columns]

In [10]:
df = products 
df['transactionDate'] = pd.to_datetime(df['transactionDate'])

In [11]:
type(df['transactionDate'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [12]:
if(df['customerID'].iloc[0].split('_')[0] != 'BBID'):
    df['customerID'] = df['customerID'].apply(lambda bbid: "BBID_"+bbid)

In [13]:
stores = list(set(df['store_code']))

cluster_labels = []
cluster_store = []
cluster_data = []
cluster_customers = []
cluster_score = []

for x in stores:
    cld = df[df['store_code'] == x]
    cluster_customers.append(cld['customerID'])
    cld.drop(['store_code','customerID','transactionDate','store_description'], axis=1, inplace=True)
    
    rbs = RobustScaler()
    cld2 = rbs.fit_transform(cld)
    
    km1 = KMeans(n_clusters=6)
    km2 = km1.fit(cld2)
    label = km2.predict(cld2)
    
    s_score = silhouette_score(cld2, label)
    cluster_score.append(s_score)
    
    cluster_labels.append(label)
    cluster_store.append(np.repeat(x, cld.shape[0]))
    cluster_data.append(cld2)